body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

a {
    text-decoration: none;
}
  
  .menu {
    background-color: #333;
  }
  
  .menu ul {
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .menu li {
    position: relative;
    padding: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  .menu li:hover {
    background-color: #ff3a3a;
    
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
  }
  
  .menu li:hover .submenu {
    display: block;
  }
  
  .submenu li {
    border-bottom: 1px solid #666;
  }
  
  .submenu li:hover {
    background-color: #555;
  }
  
  .submenu .submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #555;
  }
  
  .submenu li:hover .submenu {
    display: block;
  }
  